.left-nav-header {
  display: flex;
  height: 80px;
  align-content: center;
  align-items: center;
  background-color: rgba(9, 57, 146, 0.377);
}
.left-nav-header img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}
.left-nav-header h1 {
  font-size: 20px;
  color: white;
  margin-bottom: 0px;
}
